<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SqlConnectionString" value="Data Source=desktop-uqjgu0e;Initial Catalog=FlightEaseDB;Integrated Security=True"/>
	</appSettings>
</configuration>